  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico';
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }


#run-board {
    border: 5px double black;
    background-image: url(mmntm.jpeg);
    background-size: cover;
}

.h2 {
    color:purple;
    font-size: 4rem; 
    text-align: center;
}
  
.p {
    color:purple;
    font-size: 2rem;
    text-align: center; 
}

